*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.DS_Store

# YARD artifacts
.yardoc
_yardoc
doc/

# Project files
.idea

# For librarian
/cookbooks
/tmp
*.swp

# Vagrant
.vagrant/

# Ignore our own config file
.amoeba.yml

# For security, ignore private keys (used to encrypt things like certs)
private_keys/*